/* GERAL */

* {
    box-sizing: border-box; /* tamanho leva em consideração o padding */
}

body {
    background-color: #ffffff;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: darkblue;
    width: 100%;
    margin: 0;
}


/* FONTES */

h1 {
    text-align: center;
    font-size: 20px;
}

h2 {
    text-align: center;
    font-size: 16px;
}

h3 {
    text-align: center;
    font-size: 14px;
}

p {
    text-align: center;
}


/* CAIXAS */


header {
    background-color: darkblue;
    padding: 10px;
    color: #ffffff;
}

footer {
    background-color: lightblue;
    padding: 2px;
}

.coluna_esquerda {
    border: 1px darkblue solid;
    width: 150px;
    height: 300px;
    margin-right: 50px;
    display: flex; /*este é um flex container*/
    align-items: center; /*centraliza verticalmente*/
}

.container {
    padding: 80px 0; /* shortcode -> top&bottom ~ right&left*/
    display: flex; /*este é um flex container*/
    justify-content: center; /*centraliza horizontalmente*/
}

.conteudo {
    width: 600px;
}